<%- include("partials/header")%>

<h1>welcome to the home page </h1>
<h5>This is yelpcamp</h5>

<a href="/campgrounds">Click to view campgrounds</a>
<p>
<a href="campgrounds/new">Click to add a new campground</a>
</p>
<%- include("partials/footer") %>